.modalBackground {
    width: 100vw;
    height: 70vh;
    position: fixed;
    display: flex;
    align-items: center;
    margin-right: 30% !important;
}

.modalContainer {
    width: 500px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img {
    width: 100px;
}


.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContainer .footer button {
    cursor: pointer;
    width: 80%;
    border: none;
    border-radius: 4px;
    background: #ce332d;
    color: #ffff;
    padding: 10px;
}