@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100;200;300;400;500;600;700;800;900&display=swap');

.full-login {
  display: flex;
  height: 100vh;
}

.slogan-div {
  position: absolute;
  display: block;
}

.slogan-div h1 {
  font-family: Lexend Exa;
  width: 800px;
  height: 400px;
  color: white;
  font-size: 60px;
  font-weight: 700;
  margin: 340px 140px 0px 104px;
}

.gradient-mobile {
  display: none;
}

.login-logo img {
  margin: 50px 0px;
  padding: 0;
  width: 40%;
  height: 18%;
}

.login-form {
  display: inline-block;
  width: 53%;
  height: 100%;
  background: #f0f0f0;
}

.forget-button {
  margin: 5px 0px;
  padding: 0px;
  background: none;
  border: none;
  text-decoration: underline;
  color: red;
}

.login-button {
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #ce332d;
  color: #ffff;
  padding: 10px 0px;
  margin: 20px 0px;
  font-size: large;
  cursor: pointer;
}

.login-logo h4 {
  color: rgba(46, 46, 46, 1);
  font-style: normal;
  font-size: 16px;
  margin-bottom: 3px;
  margin-top: 30px;
}

.login-logo input {
  width: 100%;
  height: 40px;
  border: none;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
}

.login-logo {
  margin: 10vh;
}

@media (max-width: 1200px) {
  .login-logo p {
    display: none;
  }
}

@media (max-width: 600px) {

  .slogan-div {
    position: absolute;
    display: block;
  }

  .slogan-div h1 {
    position: absolute;
    font-family: Lexend Exa;
    width: 244px;
    height: 120px;
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 100px 40px;
    z-index: 2;
  }

  .full-login {
    display: flex;
  }

  .gradient-web {
    display: none;
  }

  .gradient-mobile {
    position: relative;
    width: 100%;
    height: 375px;
    display: flex;
    z-index: 1;
  }

  .login-logo {
    margin-top: auto;
    margin: 0% 12%;
  }

  .login-logo img {
    margin: 50px 0px 0px 0px;
  }

  .login-logo input {
    height: 35px;
  }

  .login-logo h4 {
    margin-top: 20px;
  }

  .gradient {
    display: none;
  }

  .login-form {
    margin-top: 270px;
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: auto;
    background: #f0f0f0;
    z-index: 2;
  }
}
