body {
  display: inline;
}

.full-container {
  display: inline;
}

.logo {
  margin: 0;
  padding: 0;
  width: 30%;
  height: 12%;
}

.container-form {
  display: inline-block;
  width: 45%;
  height: 100%;
  background-color: white;
}

.forget-button {
  margin: 0px;
  padding: 0px;
  background: none;
  border: none;
  text-decoration: underline;
  color: red;
}

input {
  width: 100%;
  height: 40px;
  border: gray;
}

form {
  margin: 100px;
}

img {
  width: 55%;
  height: 100vh;
  background-color: #f0f0f0;
}
