.container-sidebar {
  height: 100vh;
  width: 20%;
  background-color: rgba(206, 51, 45, 1);
  padding: 0px;
  margin: 0px;
  display: flex;
  position: fixed;
}

.container-sidebar {
  height: 100vh;
  width: 20%;
}

.circle {
  border-radius: 50%;
  background-color: white;
  width: 20px;
}

@media (max-width: 600px) {
  .sidebar {
    display: none;
  }
}
