body {
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    box-sizing: border-box;
    list-style: none;
  }

  .sidebar {
    height: 100%;
    width: 250px;
    background-color: rgba(206, 51, 45, 1);
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 400px;
    line-height: 60px;
    color: white;
  }

  .nav-itens>li>a{
    color: #ffffff;
    text-decoration: none;
    
  }

  .container-welcome {
    margin-top: 450px;
    margin-left: 350px;
    padding: 20px;
    text-align: center;
  }

  .button-container {
    display: flex;
    width: 744px;
    height: 50px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    margin: 10px 37%;
  }

  .access-button {
    flex: 1;
    height: 50px;
    background-color: rgba(206, 51, 45, 1);
    color: #ffffff;
    border: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .logo-ome{
    color: rgb(255, 255, 255);
    position: fixed;
    margin-top: 470px;
    margin-left: 90px;
  }

  .logo-onboarding{
    fill: var(--primary, #CE332D);
    margin-right: 100px;
    width: 525.666px;
    height: 28.414px;
    flex-shrink: 0;
  }