@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

.container-page {
  display: flex;
}


.form-container-wk {
  display: flex;
  height: 100%;
  width: 80%;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
}

.kit-container-wk {
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20px;
}

.kit-title{
  display: flex;
  align-self: self-start;
  align-items: center;
  justify-content: start;
  height: 20px;
}

.kit-title h4{
  font-weight: 400;
  font-size: 24px;
}

.company-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.company-form input {
  font-size: 16px;
  width: 98%;
  border-radius: 3px;
  padding: 15px 0px;
  padding-left: 5px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 1px;
}

.company-form h4 {
  font-weight: 600;
  font-size: 16px;
  margin: 25px 0px 8px;
}

.form-container hr {
  background-color: #d9d9d9;
  margin: 50px 0px;
}

.send-soon {
  margin-top: 50px;
}

.send-soon span {
  font-weight: 400;
  font-size: 20px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items span {
  font-weight: 400;
  font-size: 24px;
}

.items button {
  color: #CE332D;
  background-color: #FFFFFF;
  border: 1px solid #CE332D;
  border-radius: 4px;
  padding: 14px, 16px, 14px, 16px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.items select {
  color: #CE332D;
  background-color: #FFFFFF;
  border: 1px solid #CE332D;
  border-radius: 4px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  margin-right: 15px;
  text-align: center;
}

.no-items {
  display: flex;
  margin-top: 10vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.no-items span{
  font-weight: 400;
  font-size: 20px;
  width: 30%;
}

.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 10px;
}

.itemWK {
  display: flex;
  align-items: center;
}

.itemWK p {
  font-size: 20px;
}

.itemImage{
  border: 1px solid #d9d9d9;
  padding: 5px 26px 5px 26px;
  border-radius: 8px;
  margin-right: 24px;
}

.removeItem{
  cursor: pointer;
}

.buttons {
  display: flex;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}

.cancel-button{
    color: #CE332D;
    background-color: #FFFFFF;
    border: 1px solid #CE332D;
    border-radius: 4px;
    padding: 14px, 16px, 14px, 16px;
    width: 220px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}

.save-button{
  color: #FFFFFF;
  background-color: #CE332D;
  border: 1px solid #CE332D;
  border-radius: 4px;
  padding: 14px, 16px, 14px, 16px;
  width: 220px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: flex;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #ffffff;
  border: 1px solid #CE332D;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.2s ease;
  border-radius: 4px;
  color: #CE332D;
  margin-right: 10px;
}

.dropdown-toggle:hover {
  background-color: #f8f8f8;
}

.dropdown-option-image {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  border-radius: 50%;
}

.dropdown-option-label {
  flex-grow: 1;
  font-weight: bold;
  font-size: 16px !important;
  font-weight: 600 !important;
}

.dropdown-caret {
  display: inline-block;
  margin-left: 12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 8px 0 8px;
  border-color: #999 transparent transparent transparent;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 12px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-12px);
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  max-height: 200px;
  overflow-y: auto;
  border-radius: 4px;
}

.dropdown-menu.open {
  opacity: 1;
  visibility: visible;
}

.dropdown-menu li {
  display: flex;
  align-items: center;
  padding: 12px 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.dropdown-menu li:hover {
  background-color: #f8f8f8;
}

.dropdown-menu li .dropdown-option-image {
  margin-right: 12px;
}

.dropdown-menu li .dropdown-option-label {
  flex-grow: 1;
  font-weight: bold;
}

/* Centering the dropdown */
.dropdown.open .dropdown-menu {
  transform: translateY(0);
}

/* Adjust dropdown width */
.dropdown.open .dropdown-toggle {
  border-radius: 4px 4px 0 0;
  border-bottom: none;
}

.dropdown.open .dropdown-menu {
  border-radius: 0 0 4px 4px;
  border-top: none;
}

@media (max-width: 650px) {

  .container-page {
    display: flex;
    flex-direction: column;
  }

  .container-topmenu {
    width: 100%;
  }

  .form-container-wk {
    width: 100% !important;
    margin-left: 0px;
  }

  .kit-container-wk {
    background: #f9f9f9 !important;
  }

  .no-items span{
    width: 100%;
  }

  .buttons {
    flex-direction:column-reverse;
  }

  .cancel-button{
  margin-top: 5px;
  margin-right: 0px;
}

.save-button{
  margin-bottom: 5px;
  margin-left: 0px;
}

}


@media (max-width: 400px) { 

  .items button {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .form-container-wk {
    width: 100%;
  }

  .container-topmenu {
    width: 100%;
  }
}