@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}

.container-page {
  display: flex;
}

.form-container-wk {
  display: flex;
  height: 100%;
  width: 80%;
  margin-left: auto;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
}

.kit-container-wk {
  display: flex;
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
  background: #FFFFFF;
  padding: 20px;
}

.kit-title{
  display: flex;
  align-self: self-start;
  align-items: center;
  justify-content: start;
  height: 20px;
}

.kit-title h4{
  font-weight: 400;
  font-size: 24px;
}

.company-form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.company-form input {
  font-size: 16px;
  width: 98%;
  border-radius: 3px;
  padding: 15px 0px;
  padding-left: 5px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 1px;
}

.company-form h4 {
  font-weight: 600;
  font-size: 16px;
  margin: 25px 0px 8px;
}

.nextbutton {
  width: 100%;
  border: none;
  border-radius: 4px;
  background: #ce332d;
  color: #ffff;
  padding: 10px;
}

.form-container hr {
  background-color: #d9d9d9;
  margin: 50px 0px;
}

.send-soon {
  margin-top: 50px;
}

.send-soon span {
  font-weight: 400;
  font-size: 20px;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.items span {
  font-weight: 400;
  font-size: 24px;
}

.items button {
  color: #CE332D;
  background-color: #FFFFFF;
  border: 1px solid #CE332D;
  border-radius: 4px;
  padding: 14px, 16px, 14px, 16px;
  width: 220px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
}

.no-items {
  display: flex;
  margin-top: 10vh;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.no-items span{
  font-weight: 400;
  font-size: 20px;
  width: 30%;
}

.buttons {
  display: flex;
  margin-top: 10vh;
  align-items: center;
  justify-content: center;
}

.cancel-button{
    color: #CE332D;
    background-color: #FFFFFF;
    border: 1px solid #CE332D;
    border-radius: 4px;
    padding: 14px, 16px, 14px, 16px;
    width: 220px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    margin-right: 5px;
}

.save-button{
  color: #FFFFFF;
  background-color: #CE332D;
  border: 1px solid #CE332D;
  border-radius: 4px;
  padding: 14px, 16px, 14px, 16px;
  width: 220px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  margin-left: 5px;
}

@media (max-width: 650px) {

  .container-page {
    display: flex;
    flex-direction: column;
  }

  .form-container-wk {
    width: 100% !important;
    margin-left: 0px;
  }

  .kit-container-wk {
    background: #f9f9f9 !important;
  }

  .no-items span{
    width: 100%;
  }

  .buttons {
    flex-direction:column-reverse;
  }

  .cancel-button{
  margin-top: 5px;
  margin-right: 0px;
}

.save-button{
  margin-bottom: 5px;
  margin-left: 0px;
}

}


@media (max-width: 400px) { 

  .items button {
    width: 40%;
  }
}

@media (max-width: 1000px) {
  .form-container-wk {
    width: 100%;
  }
}