.titleCad h4 {
  height: 100%;
  width: 80%;
  color: #000;
  font-family: Open Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.formcadfuncionario {
  display: flex;
  height: 100%;
  width: 80%;
  margin-left: 20%;
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  color: var(--gray-100, #2E2E2E);
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.formcontent {
  width: 70%;
  margin: auto;
  margin-top: 30px;
  background: white;
  padding: 15px;
  padding-right: 8px;
}



.namecomplete h4 {
  margin: 25px 0px 5px 0px;
  font-size: 16px;
  font-weight: 600;
}

.namecomplete input {
  width: 98%;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 0px;
  padding-left: 5px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 1px;
}

.flexinput {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.flexinput input {
  width: 95%;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 0px;
  padding-left: 5px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 1px;
}

.flexinput div {
  width: 100%;
}

.flexinput h4 {
  margin: 25px 0px 5px 0px;
  font-size: 16px;
  font-weight: 600;
}


.cargo h4 {
  margin: 25px 0px 5px 0px;
  font-size: 16px;
  font-weight: 600;
}

.cargo input {
  width: 98%;
  font-size: 16px;
  border-radius: 3px;
  padding: 10px 0px;
  padding-left: 5px;
  border-color: #a0a0a0;
  border-style: solid;
  border-width: 1px;
}

.btn {
  display: flex;
  width: 98%;
  justify-content: center;
  padding-top: 50px;
  align-items: center;
  gap: 8px;
}

.btn-cancelar {
  width: 25%;
  border-radius: 4px;
  border: 1px solid var(--primary, #CE332D);
  background: var(--white, #FFF);
  color: #CE332D;
  gap: 8px;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}

.btn-salvar {
  width: 25%;
  border-radius: 4px;
  background: var(--primary, #CE332D);
  padding: 0px 5px;
  align-items: center;
  color: var(--white, #FFF);
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}